@font-face {
  font-family: "redHatDisplay";
  src: url(../fonts/redHatDisplay.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  transition: 0.2s ease;
  font-size: 0.9rem;
  color: #333;
  font-family: "redHatDisplay", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff2668;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.2rem !important;
}

a {
  text-decoration: none !important;
  color: #ff2668 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
a i {
  color: #ff2668;
}
a:hover {
  color: #000 !important;
}
a:hover i {
  color: #000;
}

.page-presentation .container {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

#me .container {
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#me .container h1 {
  font-size: 1.6rem !important;
}
#me .container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  background: #e7e7e7;
  padding-top: 5px;
}

#skills {
  margin: 50px;
}
#skills .container {
  flex-direction: column;
}
#skills .container ul {
  flex-wrap: wrap;
  padding: 0;
}
#skills .container ul li {
  list-style: none;
  background: #e7e7e7;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#experience,
#education {
  margin-bottom: 50px;
}
#experience ul,
#education ul {
  padding: 0;
}
#experience ul .experience-item,
#experience ul .education-item,
#education ul .experience-item,
#education ul .education-item {
  position: relative;
  list-style: none;
  padding: 0 20px;
  margin: 20px 0;
}
#experience ul .experience-item:before,
#experience ul .education-item:before,
#education ul .experience-item:before,
#education ul .education-item:before {
  content: "";
  height: 100%;
  top: 0;
  left: 0px;
  position: absolute;
  color: #ff2668;
  border-left: 2px solid #e7e7e7;
}

#testimonials {
  margin-bottom: 50px;
}
#testimonials .container {
  flex-direction: column;
}
#testimonials .container .testimonials-container {
  justify-content: start;
  flex-wrap: wrap;
}
#testimonials .container .testimonials-container .testimonial-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}
#testimonials .container .testimonials-container .testimonial-item .df {
  align-items: center;
  margin-bottom: 20px;
}
#testimonials .container .testimonials-container .testimonial-item .df img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#testimonials .container .testimonials-container .testimonial-item .rating {
  margin-bottom: 20px;
}
#testimonials .container .testimonials-container .testimonial-item .rating i {
  color: #ff2668;
}

button {
  padding: 5px 20px;
  border-radius: 50px !important;
  border: 2px solid #ff2668;
  color: #ff2668;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: transparent;
}
button:hover {
  box-shadow: inset 0 0 10px #000;
}

.button2 {
  color: #fff;
  background: #ff2668;
}

.df {
  display: flex;
  gap: 20px;
}

#contact-info {
  margin-bottom: 50px;
}
#contact-info .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 630px) {
  #contact-info .container {
    grid-template-columns: 1fr;
  }
}
#contact-info .container .contact-info-container {
  flex-direction: column;
}
#contact-info .container .contact-info-container a,
#contact-info .container .contact-info-container i {
  color: #333 !important;
}
#contact-info .container .contact-info-container ul {
  flex-wrap: wrap;
  padding: 0;
}
#contact-info .container .contact-info-container ul li {
  cursor: pointer;
  list-style: none;
  background: #e7e7e7;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact-info .container .contact-info-container ul li:hover {
  transform: scale(1.05);
}
#contact-info .contact-form {
  flex-direction: column;
}

footer {
  flex-direction: column;
  justify-content: center;
}
footer p,
footer a {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
footer p a {
  margin: 0 5px;
}
footer .social-links {
  display: flex;
  gap: 20px;
}
footer .social-links i {
  font-size: 1.2rem;
}

.form-container {
  margin-bottom: 50px;
}

form {
  flex-direction: column;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input,
form textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  color: #333;
  outline-color: #ff2668;
  padding: 5px 10px;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #b1b1b1;
}
form input::placeholder,
form textarea::placeholder {
  color: #b1b1b1;
}

.other-solution {
  justify-content: center;
}
.other-solution p {
  display: flex;
}
.other-solution p a {
  margin: 0 5px;
  font-weight: bold;
}

header,
footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 5vw;
  text-align: center;
}
header p,
footer p {
  display: flex;
}

header {
  justify-content: space-between;
}
@media screen and (max-width: 630px) {
  header {
    text-align: center;
  }
}
header .logo {
  max-height: 70px;
  cursor: pointer;
}
header .logo:hover {
  transform: scale(1.05);
}
header #openIcon,
header #closeIcon {
  display: none;
  color: #ff2668;
  font-size: 2rem;
}
@media screen and (max-width: 630px) {
  header #openIcon,
  header #closeIcon {
    display: flex;
    justify-content: end;
  }
}
header #closeIcon {
  display: none;
}
header nav {
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 630px) {
  header nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}
header nav a {
  font-weight: bold;
  text-transform: uppercase;
}
header nav button {
  text-transform: uppercase;
  font-weight: bold;
}
header nav i {
  font-size: 1.2rem;
  cursor: pointer;
  color: #ff2668;
}
header nav i:hover {
  color: #000;
}

#hero .container {
  background: #f1f1f1 !important;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#hero .container img {
  width: 50%;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}
#hero .container .text-hero {
  flex-direction: column;
}

#about .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  text-align: center;
}

#projects .container {
  background: #f1f1f1 !important;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects .container .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1060px) {
  #projects .container .projects-container {
    grid-template-columns: 1fr;
  }
}
#projects .container .projects-container a {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 350px;
  cursor: pointer;
}
#projects .container .projects-container a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #000;
}
#projects .container .projects-container a .project {
  height: 100%;
  background: #fff;
  border-radius: 10px;
}
#projects .container .projects-container a .project img {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 0 0;
}
#projects .container .projects-container a .project h3,
#projects .container .projects-container a .project p {
  text-align: center;
}
#projects .container .projects-container a .project h3 {
  padding: 20px;
}
#projects .container .projects-container a .project p {
  padding: 0 20px 20px;
  color: #333;
}

#cta {
  margin-bottom: 50px;
}
#cta .container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#projects-view .container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects-view .container .projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1060px) {
  #projects-view .container .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  #projects-view .container .projects-container {
    grid-template-columns: 1fr;
  }
}
#projects-view .container .projects-container a {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 350px;
  cursor: pointer;
}
#projects-view .container .projects-container a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #000;
}
#projects-view .container .projects-container a .project {
  height: 100%;
}
#projects-view .container .projects-container a .project img {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 0 0;
}
#projects-view .container .projects-container a .project h3,
#projects-view .container .projects-container a .project p {
  text-align: center;
}
#projects-view .container .projects-container a .project h3 {
  padding: 20px;
}
#projects-view .container .projects-container a .project p {
  padding: 0 20px 20px;
  color: #333;
}/*# sourceMappingURL=index.css.map */